#allz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#new-post {
  height: 400px;
  width: 700px;
  background: rgba(160, 158, 221, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  font-weight: bold;
  grid-template-columns: 5fr, 1fr;
  grid-template-rows: 1fr, 5fr, 1fr;
}

#new-post-text {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

#exit-button-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 15px;
}

#exit-button {
  height: 30px;
  width: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #a09edd;
  background-color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-weight: bolder;
}

#exit-button:hover {
  background-color: rgba(255, 255, 255, 0.776);
  color: #807ec3;
}

#new-post-div {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-post-input {
  height: 200px;
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  font-family: "Plus Jakarta Sans", sans-serif;
  resize: none;
  font-size: 20px;
  border: none;
  background: none;
}

#new-post-input:focus {
  outline: none;
}

#submit-button {
  height: 70px;
  width: 180px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 1000px;
  background-color: white;
  cursor: pointer;
  color: #a09edd;
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

#submit-button:hover {
  background-color: rgba(255, 255, 255, 0.776);
  color: #807ec3;
}

#submit-div {
  display: flex;
  grid-column: span 2;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 30px;
}
